#top-page {
  background-color: #98B1C4;
  height:90vh;
}

#middle-page {
  background-color:#FFFFFF;
  color: #FFFFFF;
  height: 4vh;
}

#mainpage
{
  position: absolute;
  display: block;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#bottom-page {
  background-color: #00022E;
  color: #00022E;
  height:6vh;
}

h1 {
  font-family: "Verdana";
  color: #00022E;
  text-align: center;
  letter-spacing: 2px;
  font-size: 40px;
}

h2 {
  color: #FFFFFF;
}

h3 {
  color: #2F4F4F;
}

h4 {
  color: #4D4D4D;
}
